<!DOCTYPE html>
<html>
    <head>
        <title>Change Color On Click</title>
        <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
        <script src="https://rawgit.com/ngokevin/aframe-layout-component/master/dist/aframe-layout-component.min.js"></script>
        <script src="https://rawgit.com/ngokevin/aframe-template-component/master/dist/aframe-template-component.min.js"></script>
    </head>
    
    <body>

        <script>
            // Random Function with Fit & Seed
            function getRandom(min, max, seed, offset) {
                seed += offset;
                var x = Math.sin(seed++) * 10000;
                x -= Math.floor(x);
                x = x * (max - min) + min;
                return x;
            }
            
            // Component to change to random color on click.
            AFRAME.registerComponent('cursor-listener', {
                init: function () {
                    this.el.addEventListener('click', function () {
                        var seed = Math.random();
                        var color = new THREE.Color().setRGB( getRandom(0, 1, seed, 1), getRandom(0, 1, seed, 2), getRandom(0, 1, seed, 3) );
                        color = color.getHexString();
                        this.setAttribute('material', 'color', '#' + color);
                    });
                }
            });

        </script>
        
        <!-- A-Frame Scene -->
        <a-scene antialias="true">
            <a-assets>
            <script id="singleBox" type="text/x-nunjucks-template">
                <a-entity class="testing" position="{{ position }}">
                    <a-entity cursor-listener geometry="primitive: box" material="color: #ff99ff"></a-entity>
                </a-entity>
            </script>
                
            <script id="multiBox" type="text/x-nunjucks-template">
                {% for x in range(0, 6) %}
                    {% for z in range(0, 6) %}
                        <a-entity template="src: #singleBox; type: handlebars"
                            data-position="{{ x * 1.05 - (5 * 0.5 * 1.05) }} {{ z * 1.05 - 1}} -7.5"></a-entity>
                    {% endfor %}
                {% endfor %}
            </script>
            </a-assets>
            
            <!-- Camera -->
            <a-camera>
                <a-entity cursor
                    position="0 0 -0.25"
                    geometry="primitive: ring; radiusOuter: 0.01; radiusInner: 0.0075;"
                    material="color: cyan; shader: flat">
                </a-entity>
            </a-camera>
            
            <a-entity template="src: #multiBox"></a-entity>   
            <a-sky color="#e2e2e2"></a-sky>
        </a-scene>
        
    </body>
</html>